@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.header-scroll {
  data-bgcolor-rgba-afterscroll:"rgba(255,255,255,0.70)"
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply max-w-full h-full px-4 md:px-6 lg:max-w-[1024px] lg:px-0 xl:max-w-[1360px] xxl:max-w-[100%] mx-auto;
  }
  .header-link {
    @apply text-primary hover:opacity-75 cursor-pointer;
  }
  .title {
    @apply text-primary md:text-[20px] font-bold my-2
  }
  .bordered-card {
    @apply border border-primary rounded;
  }
  .card-title {
    @apply text-lg font-bold text-primary;
  }
}